.main{
    color: green;
}

.div{
    background-color: rgba(255, 166, 0, 0.26);
    p{
        color: brown;
    }
    // Nous avons différencié cette class de l'autre class "container". Cette class est bien la class container situé dans l'élément avec la class "div"
    .container{
        background-color: blueviolet;
        p{
          color: wheat;
          &:hover{
            color: red;
          }  
        }
    }
}
