.main{
    color: green;
}

.div{
    background-color: rgba(255, 166, 0, 0.26);
    p{
        color: brown;
    }
    .container{
        background-color: blueviolet;
        p{
          color: wheat;
          &:hover{
            color: red;
          }  
        }
    }
}
